.single-food-home{
    margin-top: 130px;
    border: 0px;
}
.food-details p{
    color: #a29e9e;
    margin-bottom: 35px;
    margin-top: 20px;
}
.add-btn{
    margin-top: 40px;
    padding: 12px 30px;
}
.cart-controller {
    border-radius: 25px;
    border: 1px solid #d3d3d3;
    font-weight: 700;
}
.cart-controller .btn {
    font-size: 24px;
    line-height: 24px;
    padding: 0 15px!important;
    margin: 0px 2px;
}