.food-item .card{
    border: none;
    transition: all .3s;
    cursor: pointer;
}
.food-item .card:hover{
    box-shadow: 0 10px 24px 20px rgb(234 232 232 / 30%);
}
.food-item .card p{
    color: #a29e9e;
}
.food-item .card-img-top {
    width: 60%;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}