.food-item .card{
    border: none;
}
.food-item .card:hover{
    box-shadow: 0 5px 13px 0 rgba(234,232,232,.48);
}
.food-item .card p{
    color: #a29e9e;
}
.food-item .card-img-top {
    width: 60%;
    display: block;
    padding-top: 10px;
    margin: 0 auto;
}